.env
.venv
/funcs/langchain/__pycache__
/funcs/langchain
/tools_wrappers/__pycache__
/wrappers/__pycache__
/global_functions/__pycache__
/funcs/langchain/__pycache__
/classes/__pycache__
/funcs/langchain/__pycache__
